/*

File:		eqtr_main.css
Created:	***24th September 2014***
Author:		***Kraig Walker***

Notes:


*/

body {
	background: #f1f5d0; /* Old browsers */
	background: -moz-linear-gradient(top,  #f1f5d0 0%, #e3eba1 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f5d0), color-stop(100%,#e3eba1)); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  #f1f5d0 0%,#e3eba1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1f5d0 0%,#e3eba1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1f5d0 0%,#e3eba1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f1f5d0 0%,#e3eba1 100%); /* W3C */
}

body {
    font: normal 1.25em/1.5 Arial, sans-serif;
}

h1, h2, h3 {
	color: #004f90;
}

.container, footer {
	max-width: 960px;
	margin:0px auto;	/* thanks for that */
	border: 1px solid #b8cc33;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.container {
	background: #ffffff;
	border-radius: 10px 10px 0 0;
	padding: 1em 1em 0 1em;
}

nav {
	width: 100%;
}

nav ul {
	list-style: none;
}

/* invisible skip nav link */
#skip a
{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
	opacity: 0;
}

#skip a:focus
{
	position:static;
	width:auto;
	height:auto;
}

#content {
	float: left;
	width: 67%;
}

#feature {
	border-radius: 7px;
	background: #b8cc33;
}

#feautre img {
	border-radius: 7px 7px 0 0;
}

#feature h2 {
	color: #fff;
}

#sidebar {
	float: right;
	width: 33%;
}
aside {
	padding-top: 2em;
}

aside p, aside li{
	color: #999999;
	font-size: 12px;
}
aside h3 {
	font-size: 15px;
}

form {
	border: 1px solid #b8cc33;
	border-radius: 6px;
	float: right;
	padding: 0.75em;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	clear:right;
}

form p {
	color: #666666;
}

input[type="email"] {
	border-radius: 5px;
	width: 100%;
	height: 2em;
	border: 1px solid #dddddd;
	font-size: 15px;
}

/* Tabs */
:focus {
    outline: 1px dotted #EF9600;
    outline-offset: 1px;
}

.tabs {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #EEE;
}
.tabs > li {
    display: inline;
}
.tabs > li > a {
    display: inline-block;
    padding: .25em .5em;
    border: 1px solid #EEE;
    border-bottom: 0;
    text-decoration: none;
    background: #EEE;
    border-radius: 4px 4px 0 0;
}
.tabs > li > a.is-selected {
    margin-bottom:-1px;
    border-bottom:1px solid #FFF;
    background:#FFF;
}

.panel {
	min-height: 250px;
}

.tabbox {
	min-width: 66%;

}

footer {
	border-radius: 0 0 10px 10px;
	clear:both;
	padding: 2em;
	font-size: 12px;
	width: 100%;
	background: #b8cc33;
	color: #fff;
}
